server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pms_db
    username: pms_user
    password: Pms@1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
jwt:
  secret: hsjsknbdhvjhvvkjvhvhvnjbkjcxdzrareschjhnbvhjbjbajskbshaaqwyidnsnmakxkcjbbmmvnvn
  expiration: 86400000


